* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

/* Components */

.icon {
  width: 29px;
  height: 29px;
}

.logo {
  height: 80px;
}

/* Header */

.header_nav_item {
  color: rgb(var(--primary-text));
  cursor: pointer;
  display: flex;
  padding: 0.5em;
  margin: 0.7em;
}

.header_nav_btn {
  transition: background-color ease-in-out 0.25s;
}

.header_nav_btn:hover {
  border-radius: 0.7em;
}

.header_nav {
  position: fixed;
  flex-grow: 0;
  z-index: 1;
}

.horizontal {
  border-top: solid rgba(var(--primary-text), 0.4) 0.8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

.vertical {
  border-right: solid rgba(var(--primary-text), 0.4) 0.8px;
  width: fit-content;
  height: 100%;
  align-items: center;
  flex-direction: column;
  display: none;
}

.header_nav_bar {
  flex-grow: 1;
}

.header_top_nav {
  border-bottom: solid rgba(var(--primary-text), 0.4) 0.8px;
}

/* Main & Content*/

.content {
  flex-grow: 1;
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

.main_content {
  min-height: 100vh;
  min-width: 400px;
}

.ao {
  width: 80%;
}

@media only screen and (min-width: 576px) {
  .content {
    margin-left: 70px;
  }

  /*   main {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(71, 71, 71);
  } */
}

.home {
  max-width: 800px;
  display: flex;
  flex-direction: row;
}

/* SideBar */

.aside {
  max-width: 400px;
  min-width: fit-content;
  background-color: rgb(94, 94, 94);
}

/* Story */

.story {
  border: solid 2px white;
  border-radius: 100%;
  width: 60px;
}

.story_bar {
  height: 100px;
  padding: 1em;
  background-color: rgb(110, 110, 110);
}


/* Footer */

footer {
  min-height: 100px;
  background-color: rgb(52, 52, 52);
}


:root {
  --primary-text: 245, 245, 245;
  --secondary-text: 168, 168, 168;
}
